# Real-time Dota predictions

### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, plot_roc_curve, roc_auc_score

# interactive viz
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

%matplotlib inline

In [2]:
plt.style.use('default')

In [12]:
time_df = pd.read_csv('./data/player_time.csv')
matches_df = pd.read_csv("./data/match.csv")
player_df = pd.read_csv("./data/players.csv")

# matches_df.set_index('match_id')

In [25]:
time_df.head(5)

,match_id,times,gold_t_0,lh_t_0,xp_t_0,gold_t_1,lh_t_1,xp_t_1,gold_t_2,lh_t_2,...,lh_t_130,xp_t_130,gold_t_131,lh_t_131,xp_t_131,gold_t_132,lh_t_132,xp_t_132,mean_gold_diff,mean_xp_diff
0,0,1970-01-01 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0.0
1,0,1970-01-01 00:01:00,409,0,63,142,1,186,168,0,...,6,351,100,0,77,613,1,125,-51.4,0.0
2,0,1970-01-01 00:02:00,546,0,283,622,4,645,330,0,...,12,805,200,0,210,815,5,323,-51.0,11.6
3,0,1970-01-01 00:03:00,683,1,314,927,9,1202,430,0,...,16,1135,300,0,210,1290,8,527,-113.4,18.2
4,0,1970-01-01 00:04:00,956,1,485,1264,11,1583,530,0,...,26,1842,400,0,210,1431,9,589,-110.0,55.6

### Helper methods

In [17]:
RAD_GLD_COLS = [f'gold_t_{i}' for i in range(0, 5)]
DIR_GLD_COLS = [f'gold_t_{i}' for i in range(128, 133)]

RAD_XP_COLS = [f'xp_t_{i}' for i in range(0, 5)]
DIR_XP_COLS = [f'xp_t_{i}' for i in range(128, 133)]

def get_mean_gold_difference(df):
    return df[RAD_GLD_COLS].mean(axis=1) - df[DIR_GLD_COLS].mean(axis=1)

def get_mean_xp_difference(df):
    return df[RAD_XP_COLS].mean(axis=1) - df[DIR_XP_COLS].mean(axis=1)

### Data pre-configuration

In [18]:
time_df['mean_gold_diff'] = get_mean_gold_difference(time_df)
time_df['mean_xp_diff'] = get_mean_xp_difference(time_df)

# set time and join with radiant win
time_df['times'] = pd.to_datetime(time_df['times'], unit='s') # turn the seconds to real time
match_time_df = time_df.pivot(index='match_id', columns='times', values='mean_gold_diff')

### Data Exploration on a particular match

In [21]:
@widgets.interact()
def show_match(match=(1, 50)):

    plt.figure(figsize=(20, 6))
    plt.grid(True)

    some_match = time_df[time_df['match_id'] == match]
    does_win = matches_df.at[match, 'radiant_win']
    winner = 'Radiant' if does_win else 'Dire'

    g1 = sns.lineplot(data=some_match, y='mean_gold_diff', x='times', label='Teams Mean Gold Different')
    g2 = sns.lineplot(data=some_match, y='mean_xp_diff', x='times', label='Teams Mean Experience Different')

    date_form = DateFormatter("%M")
    g1.xaxis.set_major_formatter(date_form)

    x_label = f'minutes \ {winner} wins'

    g1.set(xlabel=x_label, ylabel='Radiant \ Dire Gold and Experience Difference');
    return match

interactive(children=(IntSlider(value=25, description='match', max=50, min=1), Output()), _dom_classes=('widgeâ€¦

## Logistic regression on a time window of 5 minutes

In [9]:
def train(X_train, y_train, minute, model = LogisticRegression()):
    ncols = X_train.shape[1]
    start = max(0, minute - 6)
    end = min(ncols - 1, minute - 1)

    is_present = -X_train.iloc[:, start:end].isna().any(axis=1)

    return model.fit(X_train[is_present].iloc[:, start:end], y_train[is_present])

In [23]:
X_train, X_test, y_train, y_test = train_test_split(match_time_df, matches_df['radiant_win'], test_size=0.8, random_state=1)

test_match = X_test.iloc[10:11, :]
does_win = y_test[0]

model = train(X_train, y_train, 26)

game_minutes = range(6, 40)
models = [(train(X_train, y_train, minute), minute) for minute in game_minutes]
probs = [model.predict_proba(X_test.iloc[6:7, i-6:i-1].dropna())[0] for model, i in models]

# probs_df = pd.DataFrame([{'radiant_win_probability': prob[0], 'dire_win_probability': prob[1]} for prob in probs])

## Probability of winning visualization

In [24]:
@widgets.interact()
def show_probs_plot(match_id = X_test.index):
    match = X_test.iloc[match_id:match_id+1, :]
    probs = [model.predict_proba(match.iloc[:, i-6:i-1].dropna())[0] for model, i in models]
    probs_df = pd.DataFrame([{'radiant_win_probability': prob[1], 'dire_win_probability': prob[0]} for prob in probs])

    probs_df['radiant_win_probability']
    winner = 'Radiant' if does_win else 'Dire'
    x_indexer = range(6, 40)
    g1 = sns.lineplot(data=probs_df, y='dire_win_probability', x=x_indexer, label='Dire Wins')
    g2 = sns.lineplot(data=probs_df, y='radiant_win_probability', x=x_indexer, label='Radiant Wins')

    g1.set(xlabel=f'minutes of the game \ {winner} wins', ylabel='Teams win probability');
    return match_id

interactive(children=(Dropdown(description='match_id', options=(26247, 35067, 34590, 16668, 12196, 2600, 9047,â€¦